<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:label="Twitter"
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>